body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
 font-size: 18px;
}

.container {
  width: 40vw;
  height: 40vh;
  padding: 60px;
  margin: 20vh 30vw;
}

button {
  padding: 20px 40px;
  background: cornflowerblue;
  border: none;
  font-size: 20px;
  margin-top: 20px;
}